# Backend server
PORT=3306

# Use ONE of these options:
# 1) Railway MySQL plugin URL (recommended)
MYSQL_URL=mysql://root:XLKjZhsiSUdNSMQGwlRsaqiCQZrhGjsf@mysql.railway.internal:3306/railway

# 2) Generic URL (optional fallback)
#DATABASE_URL=mysql://USER:PASSWORD@HOST:PORT/DATABASE

# 3) Individual variables
MYSQLHOST=mysql.railway.internal
MYSQLPORT=3306
MYSQLUSER=root
MYSQLPASSWORD=XLKjZhsiSUdNSMQGwlRsaqiCQZrhGjsf
MYSQLDATABASE=railway

# DB SSL toggle (supports: true/false, 1/0, required)
DB_SSL=false
